In [1]:
import pandas as pd

## songs that rank among top 10 for the instrumentalness metric.

In [17]:
df = pd.read_csv("data/songs.csv")
df.head()

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2017 non-null   int64
 1   acousticness      2017 non-null   float64
 2   danceability      2017 non-null   float64
 3   duration_ms       2017 non-null   int64
 4   energy            2017 non-null   float64
 5   instrumentalness  2017 non-null   float64
 6   key               2017 non-null   int64
 7   liveness          2017 non-null   float64
 8   loudness          2017 non-null   float64
 9   mode              2017 non-null   int64
 10  speechiness       2017 non-null   float64
 11  tempo             2017 non-null   float64
 12  time_signature    2017 non-null   float64
 13  valence           2017 non-null   float64
 14  target            2017 non-null   int64
 15  song_title        2017 non-null   object
 16  artist            2017 non-null   object
dtypes: float64(10), int64(5), object(2)
memory usage: 268.0+ KB

In [19]:
# assigning df1 = songs that rank among top 10 for the instrumentalness metric.
df1 = df.sort_values("instrumentalness", ascending = False)[['instrumentalness','song_title','artist']]
df1.head(10)

,instrumentalness,song_title,artist
1313,0.976,Senseless Order,Signs of the Swarm
271,0.968,So Destroyed (channeling Rage Peace),Prince Rama
1575,0.964,A Hundred Dreams from Now,Ray Bryant
1619,0.958,Raven,John Dahlb√§ck
725,0.957,Strandbar (disko),Todd Terje
1546,0.956,Almas vaggvisa,Jan Lundgren Trio
1322,0.955,Pitchblack,Walking Dead On Broadway
1349,0.954,Prismatic Abyss,Aversions Crown
1661,0.954,Yebisah,Mark Knight
121,0.952,Chasing Heaven,Bassnectar

## average tempo for each of the top 10 most occurring artists.

In [40]:
top_10_artists = list(df['artist'].value_counts().head(10).index)
top_10_artists

['Drake',
 'Rick Ross',
 'Disclosure',
 'WALK THE MOON',
 'Backstreet Boys',
 'Crystal Castles',
 'FIDLAR',
 'Future',
 'Fall Out Boy',
 'Skrillex']

In [46]:
average_tempo = []
for i in top_10_artists:
    tempo_avg = df[df['artist'] == i]['tempo'].mean()
    average_tempo.append({'Artist': i, 'Average Tempo': tempo_avg})
    
df2 = pd.DataFrame(average_tempo)
df2

            Artist  Average Tempo
0            Drake     112.406750
1        Rick Ross     110.721923
2       Disclosure     128.118417
3    WALK THE MOON     136.163600
4  Backstreet Boys     113.066600
5  Crystal Castles     128.600778
6           FIDLAR     145.983444
7           Future     128.989625
8     Fall Out Boy     133.815625
9         Skrillex     132.454125